<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="../styles/main.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
        <title>Портфолио веб-разработчика</title>
    </head>
    <body>
        <div class="preloader"><div></div></div>

        <section>
           <div class="home">
                <div class="home-bg"></div>
                <div class="home-overlay">
                    <div class="home-heading">
                        <p>Привет! Мое имя Виталий, я</p>
                        <h2>FRONT-END DEVELOPER</h2>
                        <p>готов выполнить любой Ваш заказ</p>
                    </div>
                </div>
            </div> 
        </section>
            
        <header id="header">
            <div class="header">
                <div class="nav-bar wrap">
                    <div class="nav-bar__logo"><p>Hl-development</p></div>
                    <nav class="nav-bar__list">
                        <ul>
                            <li class="nav-bar-item-1"><a href="">Услуги</a></li>
                            <li class="nav-bar-item-2"><a href="">Навыки</a></li>
                            <li class="nav-bar-item-3"><a href="">Портфолио</a></li>
                            <li class="nav-bar-item-4"><a href="">Обо мне</a></li>
                            <li class="nav-bar-item-5"><a href="">Контакты</a></li>
                        </ul>
                    </nav>  
                </div>
            </div>   
        </header>

        <main>
            <section id="services">
                    <div class="services"> 
                        <h2 class="services-title">Что я могу предложить</h2>
                        <div class="services-line"></div>
                        <div class="wrap services-content">
                            <div class="services-content__item">
                                <div></div>
                                <h2>Frontend</h2>
                                <p>Вёрстка красивых и современных веб-страниц с полной адаптивностью под любые устройства и полноценной интерактивностью как из PSD-макета, так и без него.</p>
                            </div>
                        </div>
                    </div>
            </section>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script>
        
        /*jQuery(function($) {
        function fixDiv() {
            var $cache = $('.header');
            if ($(window).scrollTop() > 990)
            $cache.css({
                'position': 'fixed',
                'top': '0px',
                'background': 'rgb(255, 255, 255)',
                'width': '100%'
            });
            else
            $cache.css({
                'position': 'relative',
            });
        }
        $(window).scroll(fixDiv);
        fixDiv();
        });*/

        //function fixNav(){
        //    const navBar = document.querySelector('.header');
        //}
        //let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        //const navBar = document.querySelector('.header');
            
        //    function fixNav(){
        //        while(scrollTop => 100){
        //        navBar.classList.add = "nav-bar-active";
        //        console.log(scrollTop);
         //       }
        //    }
            
                
        //fixNav();
        </script>
    </body>
</html>
